plugin: amazon.aws.aws_ec2
boto_profile: "${AWS_PROFILE}"

regions:
  - "${AWS_REGION}"

filters:
  tag:Name: "${INSTANCE_NAME}"
  tag:Service: postfix

keyed_groups:
  - key: tags
    prefix: tag
    separator: "_"

hostnames: private-ip-address

# Tags set in Terraform, below list should match in /roles/ec2_tags_check/tasks/main.yml
compose:
  ec2_zone: tags.Zone
  ec2_hostname: tags.Hostname
  ec2_environment: tags.Environment
  ec2_instance_id: instance_id
