[defaults]
stdout_callback = yaml
display_skipped_hosts = false
color = true
host_key_checking = false
timeout = 60
filter_plugins = plugins/filter

[inventory]
enable_plugins = amazon.aws.aws_ec2

[ssh_connection]
pipelining = true
